// Variables
$base-color: #9438f7;
$primary-color: black;
$secondary-color: #ebe5e5;
$ternary-color: #0bafe0;
$pure-color: white;

/* Modular Class */

.container {
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 90%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.2rem;
}

img {
  width: 100%;
}
#active {
  color: $secondary-color;
}

.btn_primary {
  background-color: $base-color;
  position: relative;
  background-clip: padding-box;
  overflow: hidden;
  z-index: 1;
  color: $secondary-color;
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70vmax;
    height: 70vmax;
    background-image: linear-gradient(to right, #6138db, #1995c2, #ffff);
    transform-origin: left;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.8s ease-in-out;
    z-index: -1;
  }
  &:hover,
  &:hover:focus {
    &::after {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

.btn-secondary {
  background-color: $secondary-color;
  color: #353232;
  position: relative;
  background-clip: padding-box;
  overflow: hidden;
  z-index: 1;
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70vmax;
    height: 70vmax;
    background-image: linear-gradient(to right, #5222e4, #1995c2);
    transform-origin: left;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease-in-out;
    z-index: -1;
  }
  &:hover,
  &:hover {
    color: #e7d1d1;
    &::after {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

.btn-ternary {
  border: 1.5px solid $secondary-color;
  color: $secondary-color;
  position: relative;
  background-clip: padding-box;
  overflow: hidden;
  z-index: 1;
  transition: border 0.8s ease-in-out;
  &::after {
    color: $secondary-color;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70vmax;
    height: 70vmax;
    background-image: linear-gradient(to right, $base-color, #3737d3);
    transform-origin: left;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.8s ease-in-out;
    z-index: -1;
  }
  &:hover,
  &:hover {
    border: 1.5px solid transparent;
    transition: border 0.5s ease-in-out;
    &::after {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

.arrow {
  margin: 0 0.4rem;
}
.menu {
  color: $secondary-color;
  font-size: 1.6rem;
  margin-right: 0.5rem;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}
.flex-30 {
  flex: 0 1 30%;
}

.flex-40 {
  flex: 0 1 40%;
}

.flex-60 {
  flex: 0 a 60%;
}

.flex-20 {
  flex: 0 1 20%;
}
